/* General styling */
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

.customer-card {
    max-width: 1000px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(50, 43, 197, 0.6);
    background-color: white;
    text-align: center;
}

.customer-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#welcome-text {
    font-size: 36px;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #3498db, #110f12);
    color: transparent;
    background-clip: text;
    animation: slideIn 1.5s ease-out, glow 1.5s infinite alternate;
    border-radius: 10px;
}

#order-list {
    list-style: none;
    padding: 0;
}

.order-list li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.order-list li:hover {
    background-color: #f9f9f9;
}

.order-list li img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.order-list li img:hover {
    transform: scale(1.05);
}

#save-picture {
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 50px;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-picture:hover {
    background-color: #2980b9;
}

.upload-label {
    cursor: pointer;
    color: #3498db;
    text-decoration: underline;
    margin-top: 10px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

footer .foot i {
    margin-right: 10px;
}

/* Keyframes for animations */
@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #3498db, 0 0 20px #9b59b6;
    }
    100% {
        text-shadow: 0 0 20px #e74c3c, 0 0 30px #f39c12;
    }
}
