*{
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}
body
{
  overflow-x: hidden;

  padding-top: 80px;
}
h4 {
  font-size: calc(1vw + 0.5rem) ;
  margin-top: 25px;
}
h3 {
  font-size: calc(1vw + 0.7rem) ;
  margin-bottom: 25px;
}
h6 {
  font-size: calc(1vw + 0.5rem);

}
input {
  font-size: calc(1vw + 0.5rem);
  margin-bottom: 5px;
}
.cart:hover{
  background-color: black !important;
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}
img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    box-shadow: rgb(101, 101, 154) 2px 2px 4px;

}
#cartsicons:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: 1s;
}

#go-shopping{
  color: rgb(34, 34, 208);
  text-decoration: none;
  font-size: calc(1.5vw + 0.5rem);
  
}
#go-shopping:hover {
  transform: translateX(-15px) scale(1.2);
  transition: 0.5s;
  color: white;
}
.summary:hover {
  background-color:rgb(34, 34, 208)!important;
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}
#checkout-btn {
  height: calc(2vw + 1rem);
  font-size: calc(0.5vw + 0.5rem);
}
#checkout-btn:hover, #checkout-btn:disabled {
  background-color:white;
  color: black;
  transition: 0.5s;
}
/* header styling */
  #icons a, .dropdown {
  display: flex;
  align-items: center; 
  }
  
  
  #logo img {
  max-width: 100%;
  height: auto;
  }
  
  .navbar-nav .nav-link {
  padding: 0 20px; 
  }
 
  
  #search input[type="search"] {
  width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }
  
  #search-results {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style-type: none;
  margin: 0;
  z-index: 1000;
  }
  
  #search-results .list-group-item {
  cursor: pointer;
  }
  
  #search-results .list-group-item:hover {
  background-color: #f8f9fa;
  }
  
  
  
  @media (max-width: 768px) {
    #icons {
  display: none !important 
  }
 
  }
  
  
  /*footer style*/
  footer{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100px;
  text-align: center;
  color: white;
  }
  
  .foot i{
  margin-top: 20px;
  margin-right: 2px;
  
  }
